* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1.5rem; 
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 7vw; 
}


.card {
    background-color: white;
    margin: 1.5rem 1rem; 
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    padding: 1.5rem;
    background-color: #333;
    color: white;
    margin-top: 2rem;
}

@media (min-width: 768px) {
    
    header h1 {
        font-size: 3rem; 
    }
    .container {
        display: flex; 
        justify-content: center; 
        flex-wrap: wrap; 
        max-width: 1200px; 
        margin: 0 auto; 
    }

    .card {
        flex: 1 1 300px;
        margin: 1.5rem; 
    }
}